#### Question 1

For Loop

 When we know how many iterations are required to be performed then we use for loop.

In [2]:
# For Example
# To print numbers from 1 to 10 we know the range would be from 1 to 10
# Therefore we use for loop here
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

While Loop

When we don't know how many iterations are needed to be performed then we use while loop

In [6]:
#For Example
# We are required to take input from user utill user inputs 42, we will use while loop
n = int(input("Enter the no."))
while n!=42:
    n = int(input("No. is not 42 Enter again"))
    print(n)
else:
    print('Found 42')

Enter the no. 42

Found 42

Conclusion:
In while loop condition is checked first while in for loop condition is not checked at first.

#### Question 2

In [2]:
#for loop
prod , s = 1,0
for i in range(1,11):
    prod*=i
    s+=i
print('Product = ', prod)
print('Sum = ', s)

Product =  3628800
Sum =  55

In [4]:
# while loop
counter = 1
prod1,s1 = 1,0
while counter<=10:
    prod1*=counter
    s1+=counter
    counter+=1
print('Sum = ', s1)
print('Procuct = ', prod1)

Sum =  55
Procuct =  3628800

#### Question 3

In [3]:
unit = int(input("Enter Unit"))
bill = 0
if unit > 300:
    bill = (unit - 300) * 20 + 2050
elif unit >200 and unit <=300:
    bill = (unit - 200)*10 + 1050
elif  unit >100 and unit <=200:
    bill = (unit-100)*6 + 450
else:
    bill = unit*4.5
print(bill)

Enter Unit 210

1150

#### Question 4

In [18]:
# using for loop

l = []
for i in range(1,101):
    l.append(i**3)
print([ i for i in l if i%4 == 0 or i % 5 == 0])

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [22]:
# using while loop 
l1 = []
j = 1
while j<=100:
    if j**3 %4 ==0 or j**3 %5==0:
        l1.append(j**3)
    j = j+1
print(l1)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [24]:
# using both for and while loop 
l3 = []
k = 1
while k<=100:
    l3.append(k**3)
    k = k+1
print([l for l in l3 if l%4 == 0 or l%5 ==0])

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

#### Question 5

In [34]:
string  = 'I want to become a data scientist'

count = 0
for i in string.lower():
    if i == 'a'or i == 'e' or i == 'i' or i == 'o' or i == 'u':
        count = count+1
print(count)

12

### END